body {
  font-family: monospace;
  background-color: #000;
  color: #0f0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 16px;
}

#container {
  border-radius: 15px;
  background-color: #333;
  overflow: hidden;
  position: relative;
}

#menu-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222;
  padding: 10px 20px;
}

#menu-bar h1 {
  color: #464646;
  font-size: 15px;
  margin: 0;
  margin-right: 180px;
}

#mac-icons {
  display: flex;
  margin-right: auto;
}

.mac-icon {
  width: 10px; 
  height: 10px; 
  margin-right: 5px; 
  background-color: #ff5f56; 
  border-radius: 50%;
}

.red {
  margin-left: -5px;
  background-color: #ff5f57;
}

.orange {
  background-color: #ffbd2e;
}

.green {
  background-color: #28ca41;
}

#terminal {
  padding: 20px;
  height: 300px;
  width: 600px;
  max-height: 300px;
  max-width: 600px;
  overflow-x: auto;
  overflow-y: auto;
}

#terminal a {
  color: #fff;
  text-decoration: none;
}

#terminal::-webkit-scrollbar {
  width: 10px;
}

#terminal::-webkit-scrollbar-track {
  background-color: #222;
}

#terminal::-webkit-scrollbar-thumb {
  background-color: #444;
  border-radius: 5px;
}

#terminal::-webkit-scrollbar-thumb:hover {
  background-color: #666;
}

#output {
  margin-bottom: 10px;
}

#input-line {
  display: flex;
  position: relative;
  font-family: monospace;
  font-size: 16px;
}

#prompt {
  color: #0f0;
  margin-right: 5px;
  font-family: monospace;
  font-size: 16px;
}

#typed-text {
  display: inline-block;
  color: #0f0;
  font-family: monospace;
  font-size: 16px;
}

#command {
  background-color: transparent;
  border: none;
  color: #0f0;
  font-family: monospace;
  font-size: 16px;
}

.blink_me {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

